body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0;
    padding: 20px;
    background-color: #2c3e50;
    color: #fff;
}

img {
    width: 300px;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #ccc;
}

#messages {
    margin: 20px;
    padding: 0;
    list-style: none;
    height: 500px;
    overflow: auto;
}

#messages .copy {
    position: absolute;
    top: 5px;
    right: 20px;
    color: #5c91dd;
    font-size: 12px;
}

#messages li {
    margin: 10px 0;
    white-space: break-spaces;
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

#messages li a {
    color: #2c3e50;
    text-decoration: underline;
}

form, #clear {
    margin: 20px;
}


#myTextarea {
    padding: 10px;
    width: 80%;
}

.progress-bar-container {
    margin: 20px;
    height: 1px;
    background-color: #f2f2f2;
}

.progress-bar {
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.3s ease-in-out;
    transform-origin: left center;
    width: 0;
}
